<div class="container">
  <header class="mb-16 pt-6 flex justify-center">

    <div class="w-full lg:w-1/2 space-y-4">
      <h1 class="text-center font-mono text-5xl font-bold">Video Game DB</h1>

      <div>
        <app-search-bar></app-search-bar>
      </div>
      <div>
        <app-ordering-select></app-ordering-select>
      </div>
    </div>
  </header>


  <div *ngIf="games === undefined then loading else list "></div>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>

  <ng-template #list>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <app-game-card *ngFor="let game of games" [game]="game" (onClick)="showGameDetails($event.id)">
      </app-game-card>
    </ul>
  </ng-template>

  <div class="py-10">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-center">
        <li class="page-item" *ngIf="isPreviousEnabled"><a class="page-link" href="#"
            (click)="setPreviousPage($event)">Previous</a></li>

        <li class="page-item" *ngIf="isNextEnabled"><a class="page-link" href="#" (click)="setNextPage($event)">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <app-game-modal [id]="currentGameId" [isOpen]="isOpen" (onClose)="hideGameDetails()"></app-game-modal>
</div>
