<div class="container">
  <header class="mb-16 pt-6 flex justify-center">

    <div class="w-full lg:w-1/2 space-y-4">
      <h1 class="text-center font-mono text-5xl font-bold">Video Game DB</h1>

      <div>
        <app-search-bar></app-search-bar>
      </div>
      <div>
        <app-ordering-select></app-ordering-select>
      </div>
    </div>
  </header>


  <div *ngIf="games === undefined then loading else list "></div>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>

  <ng-template #list>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <app-game-card *ngFor="let game of games" [game]="game" (onClick)="showGameDetails($event.id)">
      </app-game-card>
    </ul>
  </ng-template>

  <app-game-modal [id]="currentGameId" [isOpen]="isOpen" (onClose)="hideGameDetails()"></app-game-modal>
</div>
